
h3 {
    font-size: 1.6rem;
}

p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}

.top-page-section {
    display: flex;
    flex-direction: row;
}

.diagram-image {
    padding-top: 4rem;
    margin-left: 6rem;
}

.task-queues-page-button {
    color: blue;
}

.bus-services-page-button {
    color: blue;
}

.open-source-section {
    text-align: center;
}

.open-source-section-title {
    text-align: center;
    color: darkorange;
}

.title {
    color: darkorange;
}

.open-source-section-list {
    list-style-type: disc;
    list-style-position: inside;
    font-style: italic;
}

.community-contribution-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15rem;
    padding-right: 15rem;
}

.community-page-button {
    color: blue;
}

.contribution-page-button {
    color: blue;
}
