html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  width: 115rem;
  margin-left: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.heading-container {
  flex: 0.2
}

.page-container {
  flex: 3
}

.footing-container {
  flex: 0.2
}